@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a href="https://ifunny.co/">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQabVT7DZLb39oYq27-RzCQ4mbFI663l35LB7FicmEvc5zdtr-LDXFhhCQHO9V5zsgB6FQ&usqp=CAU" />
</a>
